<details>
  <summary>{{deviceForm.get('id')?.value}}</summary>
  <div [formGroup]="deviceForm" class="device">
    <div class="pair-value">
      <label [for]="id">Device id</label>
      <input [id]="id" type="text" formControlName="id" />
    </div>

    <div class="pair-value">
      <label [for]="id+'-widht'">Device width</label>
      <input [id]="id+'-widht'" type="number" formControlName="width" />
    </div>

    <div class="pair-value">
      <label [for]="id+'-height'">Device height</label>
      <input [id]="id+'-height'" type="number" formControlName="height" />
    </div>

    <div class="pair-value">
      <label [for]="id+'-mobile'">Is mobile</label>
      <input [id]="id+'-mobile'" type="checkbox" formControlName="mobile" />
    </div>

    <div class="pair-value">
      <label for="scale-factor">Scale factor</label>
      <input #scaleFactor id="scale-factor" type="range" formControlName="deviceScaleFactor" min="0.5" max="1"
        step="0.1" />
      <span>{{ scaleFactor.value }}</span>
    </div>
  </div>

  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</details>
