<p>Recorder</p>

<ng-container [ngSwitch]="recordStatus">
  <form *ngSwitchCase="0" [formGroup]="formRecorder" (ngSubmit)="submit()">
    <div class="pair-value">
      <label for="scale">Scale factor</label>
      <input #scaleFactor id="scaleFactor" type="range" formControlName="scaleFactor" min="0.5" max="1" step="0.1" />
      <span>{{ scaleFactor.value }}</span>
    </div>

    <div class="pair-value">
      <label for="frames">Frames</label>
      <input #frames id="frames" type="range" formControlName="frames" min="100" max="2000" step="10" />
      <span>{{ frames.value }}</span>
    </div>

    <div class="pair-value">
      <label for="fps">FPS</label>
      <input #fps id="fps" type="range" formControlName="fps" min="1" max="60" step="0.1" />
      <span>{{ fps.value }}</span>
    </div>

    <button type="submit">Record</button>
  </form>

  <ng-container *ngSwitchCase="1">
    <p>1/3</p>
    <p>Taking screenshot:</p>
    <app-loading-bar></app-loading-bar>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <p>2/3</p>
    <div class="pair-value">
      <label for="processingFrames">Processing frames: </label>
      <progress id="processingFrames" [max]="chromeExtension.totalFrames$ | async" [value]="progressScreenshot">
        {{ progressScreenshot }}%
      </progress>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="3">
    <p>3/3</p>
    <div class="pair-value">
      <label for="generatingVideo">Generating video: </label>
      <progress id="generatingVideo" [max]="recordCanvas.totalFrames$ | async" [value]="progressRecord">
        {{ progressRecord }}%
      </progress>
    </div>
  </ng-container>
</ng-container>
