<app-select-device
  (addDevice)="addDevice()"
  (triggerDevice)="triggerDevice($event)"
></app-select-device>

<div [hidden]="!devices.length">
  <p>Devices</p>
  <app-device *ngFor="let device of devices; index as i" [device]="device">
  </app-device>
</div>

<div [hidden]="!devices.length">
  <hr />
  <app-screenshot
    (takeScreenshot)="takeScreenshot($event)"
    (takeFrames)="takeFrames(2, $event)"
  >
  </app-screenshot>
</div>

<div [hidden]="!devices.length">
  <hr />
  <app-recorder (requestRecord)="generateRecord($event)"></app-recorder>
</div>

<canvas #canvasElement></canvas>
